.Users {
  padding: 10px;
  text-align: center;
  .UsersItems {
    display: flex;
    flex-wrap: wrap;
    .UserCard {
      width: 32%;
      margin-left: 5px;
      border: 1px solid #ddd;
      padding: 10px;
    }
  }
}
